@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.inputBox::-webkit-inner-spin-button,
.inputBox::-webkit-outer-spin-button {
  display: none;
  
}

.inputField {
  font-size: 14px;
  outline: 1.25px solid #D9D9D9;
  padding: 7px;
  border-radius: 5px;
}
.inputFieldError {
  font-size: 14px;
  outline: 1.25px solid red;
  padding: 7px;
  border-radius: 5px;
}
